@page "/inventario"

@inject HttpClient httpClient

<div class="container">
    <div class="card">
        <div class="card-header">
            <head>
                <h1>Consulta de Productos</h1>
            </head>
        </div>

        <div class="card-body">
            <body>
                @if (productos is not null)
                {
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>ProductoId</th>
                                <th>Descripci&oacute;n</th>
                                <th>Tipo</th>
                                <th>Existencia</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in productos)
                            {
                                <tr>
                                    <td>@item.ProductoId</td>
                                    <td>@item.Descripcion</td>
                                    <td>@item.Tipo</td>
                                    <td>@item.Existencia</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </body>
        </div>

    </div>
</div>



@code
{
    public List<Productos>? productos {get; set;} = new List<Productos>(); 

    protected override async Task OnInitializedAsync()
    {
        productos = await httpClient.GetFromJsonAsync<List<Productos>>($"api/Productos");
    }
}